/* font families */
@font-face {
    font-family: "Bolota";
    src: url("500899405f17a77ace3779878c96c40a.eot");
    src: url("500899405f17a77ace3779878c96c40a.eot?#iefix")format("embedded-opentype"),
        url("500899405f17a77ace3779878c96c40a.woff")format("woff"),
        url("500899405f17a77ace3779878c96c40a.woff2")format("woff2"),
        url("500899405f17a77ace3779878c96c40a.ttf")format("truetype"),
        url("500899405f17a77ace3779878c96c40a.svg#Bolota")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Host Grotesk";
    src: url("3d9e6bbad16ecc01310433beda2ccd6a.eot");
    src: url("3d9e6bbad16ecc01310433beda2ccd6a.eot?#iefix")format("embedded-opentype"),
        url("3d9e6bbad16ecc01310433beda2ccd6a.woff")format("woff"),
        url("3d9e6bbad16ecc01310433beda2ccd6a.woff2")format("woff2"),
        url("3d9e6bbad16ecc01310433beda2ccd6a.ttf")format("truetype"),
        url("3d9e6bbad16ecc01310433beda2ccd6a.svg#Host Grotesk")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}